<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>485209781835-ketho5411ptk2bc7ucb5tc4v9hhk6sjs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.485209781835-ketho5411ptk2bc7ucb5tc4v9hhk6sjs</string>
	<key>API_KEY</key>
	<string>AIzaSyA6S4UjEBcC2GX08E3EcbPrtywGC0RFaDQ</string>
	<key>GCM_SENDER_ID</key>
	<string>485209781835</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tmdt</string>
	<key>PROJECT_ID</key>
	<string>e-commerce-website-a21c1</string>
	<key>STORAGE_BUCKET</key>
	<string>e-commerce-website-a21c1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:485209781835:ios:c599d6e205e6cd0e707fce</string>
</dict>
</plist>